.Add {
    padding: 200px;
}

.maintitle {
    font-size: 60px;
}

.textarea {
    height: 300px;
    width: 900px;
    font-size: 30px;
}

#submit-btn {
    height: 60px;
    width: 200px;
    background-color: dodgerblue;
    font-size: 30px;
    font-weight: bold;
    color: white;
    border-radius: 20px;
    border: none;
    margin: 30px;
    cursor: pointer;
}

.subtitle {
    font-size: 40px;
}

.input_label {
    font-size: 30px;
    font-weight: 500;
}

.input_form {
    height: 30px;
    width: 600px;
    padding: 4px;
    padding-left: 20px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 20px;
}