.login {
    margin-top: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logincontent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.top_line {
    font-size: 50px;
    text-align: center;
}

.btn {
    height: 100px;
    width: 360px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid limegreen;
    color: limegreen;
    background-color: transparent;
    border-radius: 50px;
    transition-property: all;
    transition-duration: 0.5s;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background-color: lime;
    color: white;
}

.image {
    background-image: url("https://static.vecteezy.com/system/resources/previews/004/901/401/original/man-securing-data-with-multiple-layers-of-authentication-free-vector.jpg");
    height: 500px;
    width: 500px;
    background-size: cover;
}